<div class="index-page">
  <div class="welcome-section">
    <h1>{{ config.title }}</h1>
    <p>{{ config.description }}</p>
  </div>
  
  <div class="latest-posts">
    {{ page.content }}
  </div>
</div>
